In [1]:
import pandas as pd
import numpy as np

### pandas 의 Series는 1차원 데이터
### pandas 의 DataFrame은 2차원 데이터 (표)

In [2]:
s=pd.Series([1,2,3,4,5,6])

In [3]:
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
s.index
print(s.index)  #인덱스 값만 
print(s.values) #벨류 값만 보여주기

RangeIndex(start=0, stop=6, step=1)
[1 2 3 4 5 6]

In [9]:
s2=pd.Series([1,2,3,'a','b','c'])
s2

0    1
1    2
2    3
3    a
4    b
5    c
dtype: object

In [12]:
s3=pd.Series([np.nan,12,45,'a'])  # numpy 임포트 해서 넌 값 줄수 있다.
s3

0    NaN
1     12
2     45
3      a
dtype: object

In [19]:
s4=pd.Series([1,2,3,4], index=[10,'11',12,13])  #인덱스 값을 내가 직접 지정할수 있다, 주로 리스트 형태로 들어 온다. 
s4

10    1
11    2
12    3
13    4
dtype: int64

In [20]:
s5=pd.Series({'name':100,"age":40,"heigh":163})  # 딕셔너리 타임으로 입력하면 자동으로 인덱스와 벨류가 들어간다
s5

name     100
age       40
heigh    163
dtype: int64

In [22]:
#날짜 데이터 입력하기 : 날짜 자동생성가능
pd.date_range(start='2019/01/01',end='2019-01-07') #시작날짜 끝날짜.출력 형식은 모두 2020-01-01  형식임.

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range(start='2019-01-01',periods=7) # 끝날짜를 지정하지 않고 간격을 준다. 날짜 생성기간을 주는것임 7일동안.

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range(start='2020-08-23',periods=4,freq='2D') #freq는 날짜 출력의 간격을 주는 것. 이거는 2일씩 증가하는것

DatetimeIndex(['2020-08-23', '2020-08-25', '2020-08-27', '2020-08-29'], dtype='datetime64[ns]', freq='2D')

In [25]:
pd.date_range(start='2020-01-01',periods=4,freq='W') # 일요일 날짜만 출력

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26'], dtype='datetime64[ns]', freq='W-SUN')

In [26]:
pd.date_range(start='2020-01-01',periods=12,freq='2BM')  #2개월 간격 월말 기준

DatetimeIndex(['2020-01-31', '2020-03-31', '2020-05-29', '2020-07-31',
               '2020-09-30', '2020-11-30', '2021-01-29', '2021-03-31',
               '2021-05-31', '2021-07-30', '2021-09-30', '2021-11-30'],
              dtype='datetime64[ns]', freq='2BM')

In [27]:
pd.date_range(start='2020-01-01',periods=4,freq='QS')  #분기별 시작일 기준.

DatetimeIndex(['2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [29]:
pd.date_range(start='2020-01-01',periods=3,freq='AS') #1년주기

DatetimeIndex(['2020-01-01', '2021-01-01', '2022-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [30]:
#date_range로 시간 생성하기
pd.date_range(start='2019-01-01 08:00',periods=10,freq='H') #1시간 기준으로

DatetimeIndex(['2019-01-01 08:00:00', '2019-01-01 09:00:00',
               '2019-01-01 10:00:00', '2019-01-01 11:00:00',
               '2019-01-01 12:00:00', '2019-01-01 13:00:00',
               '2019-01-01 14:00:00', '2019-01-01 15:00:00',
               '2019-01-01 16:00:00', '2019-01-01 17:00:00'],
              dtype='datetime64[ns]', freq='H')

In [32]:
index_data=pd.date_range(start='2020-07-01',periods=5)  #날짜로 인덱스 설정하기 
s6=pd.Series([1,2,3,4,5],index=index_data)
s6

2020-07-01    1
2020-07-02    2
2020-07-03    3
2020-07-04    4
2020-07-05    5
Freq: D, dtype: int64

### DataFrame

In [ ]:
# 데이터 프레임의 index는 세로축라벨, columns는 가로축라벨이다.

In [34]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]]) #인덱스와 컬럼 명시 안하면 자동으로 0부터 들어간다.

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [35]:
#numpy 배열 데이터를 이용한 데이터프레임
data_list=np.array([[1,2,3],[4,5,6],[7,8,9]])
pd.DataFrame(data_list)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [36]:
data_list=np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])  #인덱스랑 컬럼 모두 지정한것임. 
index_data=pd.date_range(start='2020-01-01',periods=4)
columns_list=['A','B','C']
pd.DataFrame(data_list,index=index_data,columns=columns_list)

             A   B   C
2020-01-01   1   2   3
2020-01-02   4   5   6
2020-01-03   7   8   9
2020-01-04  10  11  12

In [38]:
table_data={   #딕셔너리를 이용한 데이타프레임.
    '연도':[2015,2016,2016,2017,2017] ,
    "지사":['한국','한국','미국','한국','미국'],
    '고객 수':[200,250,450,300,500]
}
pd.DataFrame(table_data) #인덱스는 자동생성되었도 컬럼은 키 값이 들어갔다.

     연도  지사  고객 수
0  2015  한국   200
1  2016  한국   250
2  2016  미국   450
3  2017  한국   300
4  2017  미국   500

In [40]:
df=pd.DataFrame(table_data,columns=['지사','고객 수','연도']) #직접 칼럼 배열을 명시할수 있다.
df

   지사  고객 수    연도
0  한국   200  2015
1  한국   250  2016
2  미국   450  2016
3  한국   300  2017
4  미국   500  2017

In [41]:
df.index #인덱스 따로 출력

RangeIndex(start=0, stop=5, step=1)

In [42]:
df.columns #칼럼 따로 출력

Index(['지사', '고객 수', '연도'], dtype='object')

In [43]:
df.values #밸륙만 따로 출력

array([['한국', 200, 2015],
       ['한국', 250, 2016],
       ['미국', 450, 2016],
       ['한국', 300, 2017],
       ['미국', 500, 2017]], dtype=object)

### Pandas 데이터 연산

In [44]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([11,12,13,14,15])
s1+s2

0    12
1    14
2    16
3    18
4    20
dtype: int64

In [46]:
s2-s1

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [47]:
s1*s2

0    11
1    24
2    39
3    56
4    75
dtype: int64

In [48]:
s1/s2

0    0.090909
1    0.166667
2    0.230769
3    0.285714
4    0.333333
dtype: float64

In [49]:
#판다스는 데이터 크키가 달라도 연살할수 있다. 연산할수 있는 항목만 진행한다.
s3=pd.Series([10,11,12,13])
s4=pd.Series([2,3,4])
s3+s4

0    12.0
1    14.0
2    16.0
3     NaN
dtype: float64

In [51]:
s3=pd.Series([10,11,12,13])
s4=pd.Series([2,3,4])
s3+s4

0    12.0
1    14.0
2    16.0
3     NaN
dtype: float64

In [52]:
s3=pd.Series([10,11,12,13])
#s4=pd.Series([2,'3',4]) #문자열 끼면 연산이 아예 안돼서 에러발생
s3+s4

0    12.0
1    14.0
2    16.0
3     NaN
dtype: float64

In [13]:
table_data1={'A':[1,2,3,4,5],
            'B':[10,20,30,40,50],
            'C':[100,200,300,400,500]
            }
df1=pd.DataFrame(table_data1)


table_data2={'A':[6,7,8],
            'B':[60,70,80],
            'C':[600,700,800]
            }
df2=pd.DataFrame(table_data2)
print(df1)

print(df2)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500
   A   B    C
0  6  60  600
1  7  70  700
2  8  80  800

In [14]:
df1+df2   #길이가 같지 않은 데이터를 더하면 nan이 나온다.

      A      B       C
0   7.0   70.0   700.0
1   9.0   90.0   900.0
2  11.0  110.0  1100.0
3   NaN    NaN     NaN
4   NaN    NaN     NaN

In [16]:
# 판다스 통계분석 메소드
table_data3 = {'봄':  [256.5, 264.3, 215.9, 223.2, 312.8],
              '여름': [770.6, 567.5, 599.8, 387.1, 446.2],
              '가을': [363.5, 231.2, 293.1, 247.7, 381.6],
              '겨울': [139.3, 59.9, 76.9, 109.1, 108.1]}
columns_list = ['봄', '여름', '가을', '겨울']
index_list = ['2012', '2013', '2014', '2015', '2016']

In [21]:
df3=pd.DataFrame(table_data3, index=index_list, columns=columns_list)
df3

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

In [22]:
df3.mean()  #칼럼 별 각 평균

봄     254.54
여름    554.24
가을    303.42
겨울     98.66
dtype: float64