# 파이썬 연습문제 풀이(2020/07/16)
### [초보자를 위한 파이썬](https://wikidocs.net/7014)

In [34]:
# 1~10 파이썬 시작

print("Hello world")

print("Mary\'s consmetics")

print("신씨가 소리를 질렀다. \"도둑이야\".")

print("\"c:\\windos\"")

print("안녕하세요.\n만나서\t\t반갑습니다.")

print("오늘은","일요일")

print("naver","kakao","samsung",sep=";")

print("naver","kakao","samsung",sep="/")

print("first", end=" ");print("second")

print(5/3)

Hello world
Mary's consmetics
신씨가 소리를 질렀다. "도둑이야".
"c:\windos"
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;samsung
naver/kakao/samsung
first second
1.6666666666666667

In [28]:
# 11~20  파이썬 변수

samsung=50000
print(samsung*10)

total = 298000000000000
current=50000
PER=15.79

s="hello"
t="python"
print(s+"!",t)

print(2+2*3)

a="128"
print(type(a))

num_str="720"
num_str=int(num_str)
print(type(num_str))

num=100
numt=int(num)
print(type(num))

str_1="15.79"
str_1=float(str_1)
print(type(str_1))

year="2020"
year=int(year)
print(year-1,year-2,year-3)

air_condition =48584
print("total: {}".format(air_condition*36))

500000
hello! python
8
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
2019 2018 2017
total: 1749024

In [77]:
# 21~30 파이썬 문자열

letters='python'
print(letters[0],letters[2])

license_plate = "24가 2210"
print(license_plate[-4:])

#오프셋 지정하기.
string="홀짝홀짝홀짝"
print(string[: :2])

string ="Python"
print(string[::-1])

phone_number="010-1111-2222"
phone_number=phone_number.replace("-"," ")
print(phone_number)


phone_number="010-1111-2222"
phone_number=phone_number.replace("-","")
print(phone_number)

url="http://sharebook.kr"
url=url.split(".")
print(url[-1])

lang = "python"
print(lang[0])

string="abcdefg2a365a23a"
print(string.replace("a","A"))

string= 'abcd'
string.replace('b','B')
print(string)

p t
2210
홀홀홀
nohtyP
010 1111 2222
01011112222
kr
p
Abcdefg2A365A23A
abcd

In [99]:
# 31~40 파이썬 문자열

a="3"
b="4"
print(a+b)

print("Hi" * 3)

print("-"*80)

t1="python"
t2="java"
print((t1+" "+t2+" ")*4)

name1="김민수"
age1=10
name2="이철희"
age2=13
print("이름 : %s 나이 : %d "%(name1,age1))
print("이름 : %s 나이 : %d "%(name2,age2))
print()
print("이름 : {} 나이 : {}".format(name1,age1))
print("이름 : {} 나이 : {}".format(name2,age2))

상장주식="5,969,782,550"
상장주식=상장주식.replace(",","")
상장주식=int(상장주식)
print(상장주식)

time = "2020/03(E) (IFRS연결)"
print(time[:7])

data="      삼성전자     "
print(data.strip())

34
HiHiHi
--------------------------------------------------------------------------------
python java python java python java python java
이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13
5969782550
2020/03
삼성전자

In [136]:
# 41~50 파이썬 문자열

ticker="btc_krw"
print(ticker.upper())

ticker="BTC_KRW"
print(ticker.lower())

hello="hello"
print(hello.capitalize())

file_name="report.xlsx"
print(file_name.endswith(("xlsx","xls")))
print(file_name.endswith("xls"))

file_name="2020_report.xlsx"
print(file_name.startswith("2020"))

a="hello world"
print(a.split())

ticker="btc_krw"
print(ticker.split("_"))

date = "2020-05-01"
print(date.split("-"))

data = "039490     "
print(data.rstrip())

BTC_KRW
btc_krw
Hello
True
False
True
['hello', 'world']
['btc', 'krw']
['2020', '05', '01']
039490

In [155]:
# 51~60 파이썬 리스트

movie_rank=["docter stranger","split","licky"]
print(movie_rank)
movie_rank.append("batman")
print(movie_rank)

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

movie_rank.remove("럭키")
print(movie_rank)

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums),min(nums),sep="\n")

nums = [1, 2, 3, 4, 5]
print(sum(nums))

cook = ["피자", "김밥", "만두", "양념치킨", "족발",
        "피자", "김치만두", "쫄면", "쏘세지", "라면",
        "팥빙수", "김치전"]
print(len(cook))

nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

['docter stranger', 'split', 'licky']
['docter stranger', 'split', 'licky', 'batman']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
7
1
15
12
3.0

In [166]:
# 51~60 파이썬 리스트

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

print(nums[1::2])

nums = [1, 2, 3, 4, 5]
print(nums[::-1])
nums.reverse()
print(nums)

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
삼성전자 Naver